* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;

    display: flex;
    gap: 10px;
}

.sidebar {
    background-image: linear-gradient(to right, greenyellow, rgb(93, 156, 0));

    position: relative;
    transition: all .6s;
    min-width: 82px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-content {
    padding: 14px;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user-avatar {
    border-radius: 8px;
    border: 2px solid white;
}

.user-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

.user-infos span:last-child {
    color: rgb(221, 255, 0);
}

.side-items {
    display: flex;
    flex-direction: column;
    gap: 10px;

    list-style-type: none;
    padding-top: 10px;
}

.side-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 14px;
    font-size: 1.4rem;
    border-radius: 8px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    gap: 10px;
}

.item.active {
    background-color: rgb(0, 0, 0);
    color: white;
}


.side-item a i {
    position: relative;
    top: 1px;
}

.side-item a:hover, .btn-logout:hover {
    transform: translate(0px , -5%);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.btn-open {
    position: absolute;
    top: 30px;
    right: -22px;
    padding: 8px;
    border-radius: 50%;
    width: 40px;
    height: 50px;
    background-color: rgb(97, 161, 0);
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer; 
}

#btn-open-icon {
    transition: transform .4s;
}

.open-sidebar #btn-open-icon {
    transform: rotate(180deg);
}

.logout {
    padding: 14px;

    display: flex;
    flex-direction: column;
}

.btn-logout {
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 8px;
    border: none;
}

.btn-logout a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.btn-logout a i {
    position: relative;
    top: 2px;
}

.item-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 0px;
    height: 0px;
    transition: .4s;
}

.open-sidebar {
    min-width: 15%;
}

.open-sidebar .item-description {
    height: auto;
    width: auto;
}







