@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    position: absolute;
    z-index: 4;
    color: white;
}

header img {
    filter: invert();
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-icons i {
    font-size: 2rem;
    cursor: pointer;
}

.slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 0 8%;
    width: 100%;
    height: 100vh;
    color: white;
    z-index: -1;

    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide.active {
    z-index: 2;
}

.slide:nth-child(1) {
    background-image: url(../imagens/tubarão.png);
}

.slide:nth-child(2) {
    background-image: url(../imagens/pinguim.png);
}

.slide:nth-child(3) {
    background-image: url(../imagens/polvo.png);
}

.slide:nth-child(4) {
    background-image: url(../imagens/urso.png);
}

.slide-content {
    width: 895px;
    
}

.slide-content h1 {
    font-size: 6rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.slide-content p {
    padding: 20px 0px;
    font-size: 1.5rem;
    text-align: justify;
}

.slide-content span {
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    justify-content: right;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.slide-buttons {
    display: flex;
    gap: 20px;
}

.slide-buttons button {
    padding: 8px;
    border-radius: 8px;
    border: 3px solid white;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    transition: .3s;
}

.slide-buttons button:hover {
    transform: translate(0%, -5%);
}

.primary-button {
    background-color: yellow;
    color: black;
}

.second-button {
    background: none;
    backdrop-filter: blur(3px);
    color: white;
}

.navigation {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 8%;
    width: 100%;
    color: white;
    z-index: 3;

}

.bullets {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.bullets li {
    width: 4vw;
    height: 2vh;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    opacity: .5;
}

.bullets li.active {
    background-color: white;
    opacity: 1;
}

.bullets li:hover:not(active) {
    opacity: .8;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.nav-buttons button {
    padding: 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    aspect-ratio: 1 / 1;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    backdrop-filter: blur(4px);
    color: white;
    border: 3px solid white;
    cursor: pointer;
}

