@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    width: 90vw;
}

.accordion {
    background-color: rgb(0, 194, 194);
    font-size: 1.3rem;
    border-radius: 8px;
    cursor: pointer;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.accordion-body {
    opacity: 0;
    display: none;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    text-align: justify;
}

.accordion-body.active {
    opacity: 1;
    display: block;
}

#icon {
    transition: transform .4s;
}

#icon.active {
    transform: rotate(180deg);
}



