@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: gray;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

section {
    background-color: rgb(255, 175, 63);
    width: 400px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

div.tittle {
    border-bottom: 4px solid black;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

form {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

form input {
    height: 40px;
    flex: 1;
    font-size: 1.3rem;
    border-radius: 10px;
    border: 0px;
    outline: none;
    text-align: center;
    border: 2px solid black;

}
label {
    display: inline-block;
    width: 80px;
}

button#btn {
    background-color: black;
    color: white;
    width: 90%;
    font-size: 1.4rem;
    color: rgb(255, 175, 63);
    font-weight: bold;
    border-radius: 10px;
}

div#res {
    height: 300px;
    background-color: black;
    width: 90%;
    padding: 20px;
    color: white;
    font-size: 1.7rem;
    font-style: italic;
    color: rgb(255, 175, 63);
    border-radius: 20px;
    text-align: justify;
}




