@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 10px;
}

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    
    display: flex;
    flex-direction: column-reverse;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {

    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }

}

.toast {
    width: max-content;
    font-size: 1.3rem;
    border-radius: 10px;
    animation: slideIn .3s ease;
    position: relative;
    padding: 10px;

    display: flex;
    align-items: center;
   
}

.icon {
    font-size: 2rem;
}

.toast.hide {
    animation: slideOut .3s ease forwards;
}



.toast.sucesso .icon {
    color: rgb(170, 255, 0);
    border-radius: 10px;
    padding: 5px;
}

.toast.erro .icon {
    color: rgb(255, 0, 0);
    border-radius: 10px;
    padding: 5px;
}

.toast.invalido .icon {
    color: rgb(238, 255, 0);
    border-radius: 10px;
    padding: 5px;
}

.toast.sucesso::after {
    content: '';
    width: 100%;
    height: 12px;
    background-color: rgb(170, 255, 0);

    position: absolute;
    bottom: 0;
    left: 15px;

    animation: widthToast 3.8s ease forwards;
}

.toast.erro::after {
    content: '';
    width: 100%;
    height: 12px;
    background-color: rgb(255, 0, 0);
    box-shadow: 5px 5px 5px rgb(255, 140, 140);

    position: absolute;
    bottom: 0;
    left: 15px;

    animation: widthToast 3.8s ease forwards;
}

.toast.invalido::after {
    content: '';
    width: 100%;
    height: 12px;
    background-color: rgb(255, 225, 0);
    box-shadow: 5px 5px 5px rgb(255, 245, 172);

    position: absolute;
    bottom: 0;
    left: 15px;

    animation: widthToast 3.8s ease forwards;
}

@keyframes widthToast {
    from {
        width: 100%;
    }

    to {
        width:0%;
    }
}

