* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    width: 90%;
    height: 200px;
    margin: auto;

    border: none;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    
}

.modal.active {
    display: block;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    background-color: black;
    color: white;
    padding: 1rem;

}

.modal-input {
    margin: 2rem 0px;
    font-size: 1.4rem;
    
}

