@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornflowerblue;
}

.content-img {
    width: 50%;
}

.container {
    width: 90vw;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

.content {
    background-color: rgb(0, 255, 187);
    text-align: justify;
    padding: 10px;
    border-radius: 0px 8px 8px 8px;
    display: none;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transition: .3s;
}

.content.show {
    display: flex;
}

.infos {
    font-size:clamp(1rem, 2vw, 2rem);
    width: 50%;
}

.btn-tab {
    background-color: rgb(0, 195, 143);
    border: none;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    color: rgb(254, 245, 209);
    cursor: pointer;
    border-radius: 8px 8px 0px 0px;
    transition: .4s;
}

.btn-tab.active {
    background-color: rgb(0, 255, 187);
    color: black;
}

.btn-tab:hover {
    background-color: rgb(0, 183, 134);;
}

@media screen and (max-width: 768px) {
    
    .content.show {
        display: flex;
        flex-direction: column;
        
    }

    .content-img {
        width: 100%;
    }

    .infos {
        width: 100%;
    }
}